
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 25%, 0);
    }
  
    25% {
      opacity: 0.25;
      transform: none;
    }
    50% {
        opacity: 0.5;
        transform: none;
      }
      75% {
        opacity: 0.75;
        transform: none;
      }
      100% {
          opacity: 1;
          transform: none;
        }
  }

@keyframes slideDown{
    0%{
        margin-top: 0%;
    }
    50%{
        margin-top: 3%;
    }
    50%{
        margin-bottom:3%;
    }
    75%{
        margin-top: 3%;
    }
    100%{
        margin-top: 0%;
    }
}
/*PlAY BUTTON */
.boutonhome a{
    text-decoration: none;
    background-color: #0000ae;
    color:white;
    border: 1px solid #0000ae;
    border-radius: 30px;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    font-family: 'Quicksand', sans-serif;
    animation-name: fadeInUp;
    animation-duration: 2.5s;
    cursor: pointer;
    transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9); 
}
.title p{
    text-align: center;
    font-size: 0.9em;
    animation-name: fadeInUp;
    animation-duration: 1.5s;

    
}
a:hover{
    border: 1px solid #0000ae;
    color: #0000ae;
    background-color: rgb(233, 202, 182);
}
/* CONTROLS*/
.controls{
    font-family: 'Chathura', sans-serif;
    font-size: 1.7em;
    animation-name: fadeInUp;
    animation-duration: 2s;
}
/* Personnage*/
#nomnomhome{
    animation: slideDown 3s infinite; 
    margin: 30px;
}

.hometxt{
    position: relative;
    min-height: 270px;
    z-index: 1;
    animation-name: fadeInUp;
    animation-duration: 2.5s;
}
body{
    background-color: rgb(233, 202, 182);
}
.game{
    height: 50vh;
    
}
h1{
    font-family: 'Quicksand', sans-serif;
    color: #0000ae;
    font-size: 4em;
}
p{
    font-family: 'Quicksand', sans-serif;
    color: #0000ae;
}

.author p a{
   text-decoration: none;
   color: hotpink;

}
.author p a:hover{
    color: grey;
    border:none;
 
 }
.author p{
    font-size: 0.9em;
}
/*swup*/
.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

