*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #0001ae;
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*
@keyframes slideDown{
    0%{
        margin-top: 0%;
    }
    50%{
        margin-top: 3%;
    }
    50%{
        margin-bottom:3%;
    }
    75%{
        margin-top: 3%;
    }
    100%{
        margin-top: 0%;
    }
}*/
.container-fluid{
    height: 610px;
}
body{
    background-color: rgb(233, 202, 182);
    height: 100vh;
}
#nomnom{
    position: relative;
    top: 345px;
}
.badItems{
    position: absolute;
    animation: roll 1s infinite;
    transform: rotate(30deg);
}
.pancakes{
    position: absolute;
    animation: roll 3s infinite;
    transform: rotate(30deg);
}
.score{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}
.points{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}
.progres{
    height: 40px;
    justify-content: center;
    margin: 5px;
}
.barre{
    border:1px solid #0001ae;
    margin: 20px 30px 20px 30px;
    border-radius: 50px;
    width: 400px;
    height: 10px;
    background-color: #0001ae;
}

/* OVERLAYS DU JEU */
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute ;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    top :0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  #0001ae ;
    opacity : .90;
}
.gameover{
    display: flex;
  justify-content: center;
  align-items: center;
    position: absolute ;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    top :0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  red ;
    opacity : .90;
}
.hitPancakes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute ;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: 0001ae;
    top :0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(233, 202, 182) ;
    opacity : .30;
}
.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative ;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    top :0;
    left: 0;
    border: 1px solid white;
}
/* RIP  NOMNOM*/
.ripnomnom{
   
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute ;
}


/* TIMER*/

.timer{
    color: red;
}
/* BOMBE H*/
.bombeh{
    background-image: url("images/exploded.gif");
}